
.container{
    width: 90%;
    margin-left: 5%;
    padding-top: 20px;
}

.table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    border:1px solid #e6e9f1;
    max-height: 60vh;
    overflow: scroll;
    /* table-layout: fixed; */
    width: 100%;

  }
  
  .table td, .table th {
    border-color: #e6e9f1;
    border-style: solid;
    border-width: 1px 0px 1px 0px ;
    padding: 8px;
    height: 46px;
    text-align: left;
    color:#52535a;
  }
  
  .table tr:nth-child(even){background-color: #fafbff;}
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    height: 28px;
    color:#72788d;
  }

  .name-image-initials-container{
      height: 33px;
      width: 33px;
      background-color: #eae0fe;
      border-radius: 50%;
      float: left;
      text-align: center;
      margin-top:8px;
      margin-right:10px;
  }

  .initials{
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 4px;
  }

  .blue-color-text{
      font-size: 15px;
      color:#517fe9;
      float: left;
  }